@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
}

/*header*/

.titlelogo {
    font-size: 46px;
    letter-spacing: -5px;
}

.menu {
    border: solid 3px black;
    border-radius: 20px;
    max-width: 494px;
    height: 70px;
}



menu ul {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

menu li, a {
    text-decoration: none;
    color: black;
    list-style: none;
    justify-content: center;
}



